extends layout.pug

block content
  div(class="analytics-page")
    h1 Analytics
    table
      thead
        tr
          th(class="text-left") Path
          th Visits
      tbody
        each pageView in pageViews
          tr
            td= pageView._id
            td(class="text-center")= pageView.count